@model LoginUserViewModel

<h1>Login User</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger" >
    </div>
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName"/>
        <span asp-validation-for="UserName"></span>
    </div>
    
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe"/>
    </div>
    <button type="submit">Login</button>
</form>